body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

header {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

.image-gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; /* Allows images to wrap on smaller screens */
    padding: 20px 0;
}

.image-gallery img {
    max-width: 10%; /* Ensures image is not larger than its container */
    height: auto; /* Maintains aspect ratio */
    margin: 10px; /* Adds some space around images */
    flex: 1 1 300px; /* Allows images to grow and shrink but not be smaller than 300px */
}

footer {
    background-color: #f0f0f0;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.member-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.member-card {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: calc(33.333% - 20px);
    text-align: center;
    background-color: #fff;
}

.member-card h3 {
    margin: 10px 0;
}

.member-card p {
    margin: 5px 0;
}

.member-photo {
    width: 100%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .member-card {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .member-card {
        width: calc(100% - 20px);
    }
}

.spacer {
    height: 150px;
    margin: 50px;
}
