body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

header {
    text-align: center;

    display: flex; /* Enables Flexbox layout */
    justify-content: space-between; /* Spreads out the children (content and image) */
    align-items: stretch; /* Stretches children to match the header's height */
    background-color: #9dcee4; /* Your existing background */
    padding-top: 20px; /* Your existing padding */
}

.header-content {
    flex: 1; /* Allows the div to grow and occupy available space, pushing the image to the right */
    display: flex; /* Enables Flexbox within the content div */
    flex-direction: column; /* Stacks items vertically */
    justify-content: center; /* Centers the items vertically within the content div */
    align-items: center; /* Centers items horizontally, adjust if your design requires a different alignment */
    text-align: center;
    padding-left: 5%;
}

.header-content h1 {
    padding: 0;
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.image-gallery {
    display: flex;
    justify-content: space-around;
    /* Remove or modify flex-wrap if you always want all items in a single row */
    flex-wrap: nowrap; /* Prevents wrapping */
    padding: 20px 0;
}

.image-gallery div {
    width: 30%; /* Width of each image container */
    height: auto; /* Adjust height to be auto to accommodate both image and text */
    overflow: hidden; /* Keeps anything outside the container from showing */
    display: flex;
    flex-direction: column; /* Stacks flex items vertically */
    justify-content: center; /* Centers items vertically, can be adjusted as needed */
    align-items: center; /* Centers items horizontally */
    margin: 10px; /* Adjust as needed */
    text-align: center; /* Ensures text is centered below the image */
}

.image-gallery img {
    height: 200px; /* Fixed height for images */
    width: auto; /* Width auto-adjusts to maintain aspect ratio */
    object-fit: cover; /* Ensures image covers the designated area, cropping as needed */
    margin-bottom: 10px; /* Adds some space between the image and the text */
}

footer {
    background-color: #9dcee4;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.member-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.member-card {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: calc(33.333% - 20px);
    text-align: center;
    background-color: #b3d4e387;
    border-radius: 10%;
}

.member-card h3 {
    margin: 10px 0;
}

.member-card p {
    margin: 5px 0;
}

.member-photo {
    width: 30%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}

.link-logo {
    max-height: 18px;
    width: auto;
}

@media (max-width: 768px) {
    .member-card {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .member-card {
        width: calc(100% - 20px);
    }
}

.spacer {
    height: 150px;
    margin-top: 150px;
    margin-bottom: 60px;
    background-image: url('images/lu.jpeg');
    background-position: center center; /* Centers the background image */
    background-size: cover; /* Ensures the image covers the full area of the element */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    padding: 40px;
}

.lu-image {
    height: auto; /* Adjust height to maintain aspect ratio */
    align-self: flex-end; /* Aligns the image to the right */
    margin-left: auto; /* Pushes the image to the far right */
    /* Set a specific width or max-width if necessary */
    max-height: 100px;
}

.blog {
    width: 40%; /* Sets the width of the blog container to 50% of its parent */
    margin: 0 auto; /* Centers the container within its parent element */
    display: block;
}

.blog-container {
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
}